@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root::-webkit-scrollbar {
  display: none;
}

:root {
  background-color: rgb(24 24 27);
  background-color: rgb(9 9 11);
  color: rgb(250 250 250);
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.writing-vertical {
  writing-mode: vertical-lr;
}

html {
  scroll-behavior: smooth;
}
